body {
    color: white;
    background-image: url("Gif 1.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu';
  }
h1 {
    color: white;
    margin-top: 50px;
    font-size: 120px
}
h2 {
    color: white;
    margin-top: 10px;
    font-size: 30px
}
h3 {
    color: white;
    margin-top: 10px;
    font-size: 16px
}
p {
    margin-top: 10px;
    margin-bottom: 20px;
}
audio {
    width: 17%;
    height: 5%;
    margin-top: 20px;
    margin-left: 20px;
}
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
.contenedor {
	width: 90%;
	max-width:900px;
	margin:auto;
}
 
article {
	background:rgba(80, 80, 80, 0.664);
	padding:20px;
	margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
}
 
article h2 {
	color:#fff;
}
 
article hr {
	background:#F64740;
	height:5px;
	border:none;
}
 
article p {
	line-height: 25px;
}
 
article h2, article p, article hr {
	margin-bottom: 20px;
}
.spacer{
    width: 350px;
}